# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variable files
terraform.tfvars.example

*.tfvars.json

# Terraform CLI configuration
terraform.rc
terraform.rc.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db